body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  background-color: red;
}

.house {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px auto;
  width: fit-content;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 20px 20px 50px;
  gap: 2.5rem;
}

.screen {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column-reverse;
  height: 8vh;
  width: 100%;
  margin-top: 50px;
  background-color: #000;
  color: #fff;
  font-size: 40px;
}

.btnzholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  background-color: #fff;
}

button {
  border: 1px solid #fff0;
  border-radius: 50px;
  color: #c9c9c9;
  background-color: #111010e3;
  padding: 15px;
  font-size: 19px;
}

.sil {
  background-color: #919191;
  color: #000;
}

.yel {
  background-color: #c88200;
}

.btnzholder .btnz1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  background-color: aqua;
}

.btnzholder .btnz2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  background-color: bisque;
}

.btnz2 > button {
  padding: 19px;
}

.btnzholder .btnz3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.btnzholder .btnz4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.btnzholder .btnz5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
