body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.house {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 60px auto;
  width: fit-content;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 50px 20px 10px;
  gap: 2rem;
}

.screen {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row;
  height: 13vh;
  width: 200px;
  padding: 10px;
  border: none;
  color: #000;
  font-size: 25px;
  background-color: #ffffffe3;
}

.screen::placeholder {
  font-size: 25px;
  color: #000;
}

.btnzholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
}

button {
  border: none;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0 1px 11px 0 #c0c0c09c;
  background-color: #111010e3;
  padding: 15px;
  font-size: 18px;
}

.sil {
  background-color: #919191;
  color: #000;
}

.yel {
  background-color: #c88200;
}

.btnz1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;

  /* background-color: aqua; */
}

.btnz2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  gap: 1rem;

  /* background-color: bisque; */
}


.btnz2 > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 18px;

  /* width: 10vw; */
  border: none;
  border-radius: 50px;

  /* gap: 4rem; */
}

.btnz3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  gap: 1rem;

  /* background-color: bisque; */
}

.btnz3 > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 18px;

  /* width: 10vw; */
  border: none;
  border-radius: 50px;

  /* gap: 4rem; */
}

.btnz4 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  gap: 1rem;

  /* background-color: bisque; */
}

.btnz4 > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 18px;

  /* width: 10vw; */
  border: none;
  border-radius: 50px;

  /* gap: 4rem; */
}

.btnz5 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  gap: 1rem;

  /* background-color: bisque; */
}

.btnz5 > button {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 18px;

  /* width: 10vw; */
  border: 1px solid #fff0;
  border-radius: 50px;

  /* gap: 4rem; */
}

.spn {
  width: 45%;
}

.about {
  text-decoration: none;
  color: #c0c0c080;
  font-size: 10px;
}
